<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>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</string>
</dict>
</plist>
